<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>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</string>
</dict>
</plist>
